<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>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</string>
</dict>
</plist>
